<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>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</string>
</dict>
</plist>
